body{
   padding: 40px;
   font-family: 'inter', sans-serif;
}

:root{
    --background-color: grey;
    --main-color: #4567;
    --primary-color: #cdfdea;
    --secondary-color: #C95B43;
    --border-radius1: 10px;
}

h2{
    margin-top: 35px;
    margin-bottom: 8px;
}


nav{
    margin-bottom: 3rem; 
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-align: center;
    list-style: none;
    
}

a{
    text-decoration: none;
    color: aliceblue;
    letter-spacing: 7px;
}


header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--main-color);
   margin-bottom: 25px;
   border-radius: 10px;
   border: 2px solid whitesmoke;
   color: var(--primary-colors);
}

.split{
    padding: 20px
}


.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, var(--secondary-color), #863CBC );
    border-radius: var(--border-radius1);
    border: 2px solid whitesmoke;
    color: black;
    padding: 20px;
}

.img-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
   
}

.tory, .kii, .pexel{
    border: 2px solid whitesmoke;
    border-radius: var(--border-radius1);
    width: 700px;
}

.dub-sec{
    display: flex;
    justify-content: center;
}

.one{
    margin: 10px;
}